<h1>Homepage#index</h1>
<p>Find me in app/views/homepage/index.html.erb</p>

<table>
  <tr>
    <td>
      <%= link_to '工资计算器', {:controller => 'salary', :action => 'index'} %>
    </td>
  </tr>
</table>

