
<%= form_tag({action: 'calc'}, method: 'get', class: 'form-horizontal', role: 'form') do %>
  <div class='form-group'>
    <%= label_tag 'amount', '税前工资', for: 'amount', class: 'control-label' %>
    <%= text_field_tag 'amount', '', class: 'form-control', placeholder: '0.00', pattern: '^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$' %>
  </div>

  <div class='form-group'>
    <%= submit_tag '计算', class: 'btn btn-default' %>
  </div>
<% end %>
